%h1.w3-center DESIGNATIONS
= link_to 'Back', root_path
|
= link_to "Add Designation", new_designation_path
%br
- @designations.each do |designation|
	%p= link_to designation.name, designation_path(designation)

