.signin
  .w3-card-4.form
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      %h3.w3-center Enter Credentials
      .form-inputs
        %i.fa.fa-envelope
        = f.input :email, label: false, placeholder: "Email", required: false, autofocus: true
        .input-group.mb-2
          .input-group-prepend
            .input-group-text @
          %input#inlineFormInputGroup.form-control{:placeholder => "Username", :type => "text"}/

        %i.fa.fa-eye-slash
        = f.input :password, label: false, placeholder: "Password", required: false
      .form-actions.btn-sign-in
        = f.button :submit, "Log in", class: "w3-btn w3-round-large"
