%h1 Hi Pupils, Learners, Bastards!
=link_to "Add After School Support", new_support_path
|
= link_to "Back", root_path
%br
- @supports.each do |support|
	%p= link_to support.name, support_path(support)
