/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 /*-------------------------------------*/
 /* IMPORTS */
 /*-------------------------------------*/
 @import url('https://fonts.googleapis.com/css?family=Montserrat');
 @import 'bootstrap.min.css';

 @import "font-awesome";
 // @import "bootstrap-sprockets";
 // @import "bootstrap";

/*-------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------*/
  //Remove Browser Styling
  input {
     // outline: none;
     // border: none;
     // background-color:transparent;
  }

  .cont {
    padding-bottom: 60px;
  }

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    outline-color: #efc244 !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(239,194,68, 0.6) !important;
    border-color: #efc244 !important;
    outline: none !important;
  }

  $brand-primary: #efc244;

  // .container {
  //   padding: 80px 10px 0px 10px;
  //   max-width: 1170px;
  //   margin: auto;
  //   color: #333;
  // }

  .notice {
    color : green;
  }

  body {
    font-family: 'Montserrat', sans-serif;
  }

/*-------------------------------------*/
/* TABLE */
/*-------------------------------------*/
.table {
  a {
    text-decoration: none;
  }
}
/*-------------------------------------*/
/* NAVBAR */
/*-------------------------------------*/
.navbar-nav {
  margin-left: 20px;
  text-align: center;
}

/*-------------------------------------*/
/* Button */
/*-------------------------------------*/

.btn-submit {
  color: #353A3F;
  background-color: #FFDF87;
  border-color: #130269;
}

.btn-submit:hover,
.btn-submit:focus,
.btn-submit:active,
.btn-submit.active,
.open .dropdown-toggle.btn-submit {
  color: #353A3F;
  background-color: #FFBB00;
  border-color: #130269;
}

.btn-submit:active,
.btn-submit.active,
.open .dropdown-toggle.btn-submit {
  background-image: none;
}

.btn-submit.disabled,
.btn-submit[disabled],
fieldset[disabled] .btn-submit,
.btn-submit.disabled:hover,
.btn-submit[disabled]:hover,
fieldset[disabled] .btn-submit:hover,
.btn-submit.disabled:focus,
.btn-submit[disabled]:focus,
fieldset[disabled] .btn-submit:focus,
.btn-submit.disabled:active,
.btn-submit[disabled]:active,
fieldset[disabled] .btn-submit:active,
.btn-submit.disabled.active,
.btn-submit[disabled].active,
fieldset[disabled] .btn-submit.active {
  background-color: #FFDF87;
  border-color: #130269;
}

.btn-submit .badge {
  color: #FFDF87;
  background-color: #353A3F;
}

/*-------------------------------------*/
/* LOGIN PAGE */
/*-------------------------------------*/
 .signin {
  display: -ms-flexbox;
 	display: -webkit-flex;
 	display: flex;
   .form {
     padding: 25px;
     margin: auto;
     .form-inputs {
       input {
         border-radius: 5px;
         height: 35px;
       }
     }
     .form-actions {
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       input {
         margin: 5px auto;
         width: 50%;
         border: 0.3px solid grey;
         font-size: 20px;
       }
     }
   }
   i {
     font-size: 32px;
     padding-right: 10px;
   }
 }

 /*-------------------------------------*/
 /* Home PAGE */
 /*-------------------------------------*/

 .home  {
   .card:hover{
     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(109,117,124, 0.6) !important;
   }
   a {
     color: #353a3f;
     text-decoration: none;
   }
 }

 /*-------------------------------------*/
 /* FOOOTER*/
 /*-------------------------------------*/
.before{
  padding-top: 40px;

}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 45px;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  p {
    padding-top: 10px;
    a {
      color: #353a3f;

      text-decoration: none;
    }
  }

}













 /*-------------------------------------*/
 /* NAVBAR */
 /*-------------------------------------*/

 // nav {
 //   background-color: #333;
 //   color: #e7e7e7;
 // }
 // .w3-bar {
 //   display: flex;
 //   .nav-logo-img {
 //     max-width: 70px;
 //     margin: 5px 5px 5px 20px;
 //   }
 //   .ss {
 //     padding-top: 10px;
 //   }
 //   .fa-bars {
 //     font-size: 35px;
 //   }
 //   .bars {
 //     align-self: flex-end;
 //     margin: 0 0 10px auto !important;
 //   }
 //   .nav-search {
 //     align-self: flex-end;
 //     margin: 0 10px 23px auto !important;
 //     input {
 //       border-radius: 5px;
 //       padding: 5px;
 //     }
 //   }
 //   .dropdown {
 //     margin: 14px 30px 10px 10px;
 //   }
 // }
//
//  /*-------------------------------------*/
// /* SHOW PAGE */
// /*-------------------------------------*/
//
.heading {
  display: flex;
  .edit, .print {
    // padding-top: 5px;
    padding-left: 5px;
    font-size: 21px;
  }
}

.active-block, .inactive-block {
  span {
    padding: 4px 5px 4px 5px;
  }
}
//
// .info-block {
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-start;
//   flex-wrap: wrap;
//   .general-info {
//     display: flex;
//     flex-direction: row;
//     justify-content: flex-start;
//     flex-wrap: wrap;
//     .col-2 {
//       padding-left: 10px;
//       max-width: 350px;
//       .active-block{
//         %span, .active {
//           background-color: green;
//           padding-right: 15px;
//           margin-right: 10px;
//         }
//       }
//       .inactive-block{
//         %span, .inactive {
//           background-color: red;
//           padding-right: 15px;
//           margin-right: 10px;
//         }
//       }
//     }
//     .col-1 {
//       padding-left: 10px;
//       max-width: 350px;
//     }
//   }
//   .additional-info {
//     display: flex;
//     flex-direction: row;
//     justify-content: flex-start;
//     flex-wrap: wrap;
//     .col-1 {
//       padding-left: 10px;
//       max-width: 350px;
//     }
//   }
// }
//
//
// /*-------------------------------------*/
// /* Forns */
// /*-------------------------------------*/
//
// .forminput {
//   input {
//     border: 1px solid grey;
//   }
//
// }
